
@{
    ViewBag.Title = "AdminOnly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>For Admin users only!</h2>


<div id="divUserListContainer">
    @Html.Action("ManageUserPartial", "Home");
</div>

