
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Signout","SignOut","Account")
<h2>Hi <b>@Context.User.Identity.Name</b>! Welcome to my first MVC 5 Web App!</h2>
@Html.ActionLink("Edit Profile", "EditProfile", "Home")

